/* Layout and Basic elements
=========================================== */
*,
*:before,
*:after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    height: 100%;
    background: #fbfafa;
}
.content{
    padding: 140px 20px; /*to make space for the main content*/
    margin: 0;
}
/* required for sticky footer */
.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.sticky-footer, .push{
    clear: both;
}
/* end required for sticky footer */
body{
    position: relative;
    margin: 0;
    padding-bottom: 4rem;
    min-height: 100%;
}
.clearfix:after {
    clear:both;
    content:"";
    display:block;
    visibility:hidden;
    position:relative;
}
.full-width{
    width: 100%;
    height: auto;
}
:target:before {
  content:"";
  display:block;
  height: 92px; /* fixed header height*/
  margin:-92px 0 0; /* negative fixed header height */
}
/* Typeface
=========================================== */
body{
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 400;
    word-spacing: 1px; 
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
h1{
    font-weight: 300;
    font-size: 36px;
    margin: 0 0 8px 0;
}
h2{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 30px;
    color: #000;
}
h3{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}
h4{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
    color: #000;
}
h5{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 14px;
    color: #6a6a6a;
}
h6{
    font-size: 13px;
    margin-bottom: 5px;
}
p{
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    font-size:  16px;
    color: #000;
}
blockquote{
    text-align: center;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;    
    border-left: none;
    font-weight: 600;
    color: #515151; 
    font-size: 24px;
    padding: 15px 20px 10px 20px;
    margin:0;
}
cite{
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; ; 
    font-style: inherit;
    font-weight: 600;
    font-size: 18px;
    color: #888179;
}
strong{
    font-weight:600;
}
a{
    color: #F96630;
}
a:hover{
    color: #f84e0f;
}
a:visited, a:focus{
    text-decoration: none;
}
hr{
    border-width: 3px;
    border-color: #222;
    margin-bottom: 50px;
}

@media only screen and (min-width: 992px){
    h1{
    font-weight: 300;
    font-size: 72px;
    margin: 0 0 28px 0;
    }   
    h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6em;
    margin-top: 0;
    margin-bottom: 30px;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 24px;
    }
    p{
        font-size: 18px;
        line-height: 1.5;
    }
}

/* Header Message
=========================================== */
.header{
    background: #fff;
    padding: 15px 0;
    height: 60px;
}
.header-logo{
    padding:0;
}

#secondary-nav > li > a{
    color: #000;
    font-weight: 400;
    font-size: 13px;
    padding: 7px 30px 0 0px;
}
#secondary-nav > li > a:hover{
    color: #F96630;
}
#secondary-nav > li > a#active-about{
    color: #F96630;
}
#secondary-nav > li > a#active-people{
    color: #F96630;
}
#secondary-nav > li > a#active-alumni{
    color: #F96630;
}
.apply{
    padding:0;
}
span#apply-msg{
    font-weight: 600;
    vertical-align: middle;
    margin-right: 15px;
}
.btn-danger{
    background-color: #ef4507;
    background-image: none;   
    border: 1px solid #ef4507;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    padding: 4px 12px;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: #ce3b06;
  border: 1px solid #ce3b06;
  color: #FFFFFF;
  text-shadow: none;
  box-shadow: none;
  background-position: 0 -15px;
}
@media only screen and (max-width: 667px){
    .apply{
        padding:0;
        text-align: center;
    }
    span#apply-msg{
        font-size: 12px;
        margin-right: 10px;
    }
    .btn-danger{
        font-size: 10px;
        padding: 4px 6px;
    }
}
@media only screen and (min-width: 768px){
    #secondary-nav{
    margin-left: 20px;
    }
}

/* Nav bar
=========================================== */

.navbar-inverse .navbar-toggle {
  border-color: #fff;
}
.navbar-inverse .navbar-toggle:hover {
  background-color: #ef4507;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 8px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-inverse{
    background-color: #131312;
    background-image: none;
}
.navbar-nav{
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-nav li {
    font-family: 'Roboto Condensed', Helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.navbar-nav li span{
    margin-left: 8px;
}

.navbar-inverse .navbar-nav > li > a {
    padding: 6px 30px 2px 30px;
    color: #fff;
    text-shadow:none;
}
#choose-accelerator{
    text-align: left;
    text-transform: inherit;
    font-size: 12px;
    color: #fa8b62;
    padding: 5px 15px 5px 15px;
    border-top: 1px #101010 solid;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
#active-impact, #active-impact:hover {
    background-color: #3BB273;
    border-bottom: 4px solid #3BB273;
}

#active-healthcare, #active-healthcare:hover{
    background-color: #f02319;
    border-bottom: 4px solid #f02319;
}
#active-open, #active-open:hover{
    background-color: #4d9de0;
    border-bottom: 4px solid #4D9de0;
}
#nav-impact:hover{
    background-color: #3BB273;
    border-bottom: 4px solid #3BB273;
}
#nav-healthcare:hover{
    background-color: #f02319;
    border-bottom: 4px solid #f02319;

}
#nav-open:hover{
    background-color: #4D9DE0;
    border-bottom: 4px solid #4D9de0;
}
@media only screen and (min-width: 320px) and (max-width: 667px){
    .navbar-nav > li > a{
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
        #choose-accelerator{
            padding: 7px 7px 7px 0;
            margin-right: 5px;
            border-top: none;
            box-shadow: none;
        }
        #active-impact{
            background-color: #131312;
        }
        #active-healthcare{
            background-color: #131312;
        }
        #active-open{
            background-color: #131312;
        }
}


/* Footer
=========================================== */
footer {
    background-color: #252422;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
}
#homepage footer{
    position: relative;
}
li.footer-heading{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}
footer .container ul li{
    padding: 2px 0;
}
footer > .container ul li a{
    color: #afafaf;
    font-size: 14px;
    letter-spacing: 1px;
}
footer > .container ul li a:hover{
    color: #fff;
    text-decoration: none;
}
.fa{
    margin:0px 8px;
}
.fa:hover{
    text-decoration: none;
}
.fa-facebook-square{
    color: #3b5998;
}
.fa-facebook-square:hover{
    color: #324b80;
}
.fa-twitter-square{
    color: #55acee;
}
.fa-twitter-square:hover{
    color: #178ee8;
}
.footer-bottom{
    padding-top: 20px;
    margin-top: 10px;
    border-top: 1px #101010 solid;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
@media only screen and (min-width: 768px){
    .footer-logo{
        margin-top: 37px;
    }
} 

/* index.html
=========================================== */
#homepage{
    padding-bottom: 0;
}
/* banner */
.jumbotron-banner{
    position: relative;
    background-color: #9D9179;
    border-bottom: solid 1px #555;
}
.jumbotron-banner .text-container{
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.black-bg{
    background-color:rgba(0,0,0, 0.9);
    color: #fff;
    font-size: 12px;
    padding: 5px;   
    width: 80%;
    margin: 0px 0 40px 0;
}
.black-bg .inner{
    padding: 15px 25px 15px 15px;
    max-height: 250px;
    overflow: hidden;
}
.black-bg h1{
    font-size: 48px;
    font-weight: 200;
    color: #fff;
    margin:0 0 10px;
}
.black-bg p{
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 0;
}
.orange-bg{
    background-color: #F96630;
    opacity: 0.9;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    word-spacing: 2px;
    letter-spacing: 0.8px;
    padding: 10px 20px;
    width: 88%;
    position: absolute;
    bottom: 40px;
    left: 0;
}
.orange-bg blockquote{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.35;
    text-align: left;
    padding: 0;
    margin-bottom: 10px;
}
.orange-bg cite{
    color: #fff;
}
/*.orange-bg ul {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
}
.orange-bg ul li span{
    margin-left: 20px;
}
.orange-bg a{
    color: #fff;
    font-weight: 400;
}*/

@media only screen and (min-width: 320px) and (max-width: 667px){

    .jumbotron-banner .text-container{ position: static;}
    .jumbotron-banner .text-container .col-xs-12{padding:0;height: auto!important;}
    .black-bg{width: 100%;margin:0;}
    .black-bg .inner h1{
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .black-bg .inner p{
        font-weight: 200;
        font-size: 14px;
        line-height: 1.5;
    }
    .black-bg .inner{
        max-height: 220px;
        padding: 10px 5px;
    }
    .orange-bg{
        position:static;
        width:100%;
    }
    .orange-bg blockquote{
    font-size: 16px
    }
    .orange-bg cite{
        font-size: 14px;
        color: #fff;
    }
}

/* impact.html 
=========================================== */
.impact-brand{
    color: #3BB273;
}
#impact #choose-accelerator{
    color: #7ed4a7;
}
/* title */
.btn-lg{
    font-size: 16px;
    padding: 8px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-fullwidth{
    width:60%;
    font-size: 18px;
}
.btn-impact{
    background-color: #3BB273;
    border: #3BB273;
}
.btn-impact:hover{
    background-color: #339863;
    border: #339863;
}
.impact-hr{
    border-color:#3BB273;
    margin-bottom: 50px;
}
/* article */
.article{
    margin-bottom: 30px;
}
#impact .title a, #impact .article a{
    color: #3BB273;
    font-weight: 600;
    font-size: 18px;
}
#impact .title a:visited, #impact .article a:visited{
    text-decoration: none;
}
#impact .title a:hover, #impact .article a:active{
    color: #37a56b;
    text-decoration: none;
}
.article ul{
    margin-bottom: 20px;
}
.article ul li{
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #000 ;
    margin-bottom:10px;
    font-weight: 400;
}
#impact .article a.learn-more{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 5px 15px;
}
.glyphicon-menu-down{
    margin-left: 10px;   
    font-size: 14px;
    font-weight: 700;
}
.more{
    display: none;
    background: #fbfafa;
    border-top: 2px solid #3BB273;
    border-bottom: 2px solid #3BB273;
    padding: 24px;
	margin-bottom: 28px;
}
.more p{
    font-weight: 400; 
    margin-top:10px;
    margin-bottom: 10px;
}
.affix-top{
    width: 400px;
    position: fixed!important;
}
.affix{
    position: fixed!important;
    width: 400px; 
    top: 120px;
}
.affix-bottom{
    width: 400px;
    position: fixed!important;
}
/*
.pull-right.affix blockquote, .pull-right.affix cite{
    display: none;
}
*/
.hidden {
    position: absolute;
    top: -9999999px;
}
.quotes{
    text-align: center;
}
.quotes .cite-subtitle{
    display: block;
    margin-top: 5px;
    font-style: italic;
}
@media only screen and (min-width: 992px){
    .title p{
        line-height: 1.65;
    }
    .article ul li{
        font-size: 18px;
    }
}
/* healthcare.html 
=========================================== */
.health-brand{
    color:#f02319;
}
#health #choose-accelerator{
    color: #f67f79;
}
.health-btn{
    background-color: #f02319;
    border: #f02319;
}
.health-btn:hover{
    background-color: #d9180e;
    border: #d9180e;
}
.health-hr{
    border-color: #f02319;
}
/* commercial.html 
=========================================== */
#alumni #choose-accelerator{
    color: #a4cdef;
}
.btn-alumni{
    background-color: #4d9de0;
    border: #4D9de0;
}
.btn-alumni:hover{
    background-color: #308ddb;
    border: #308ddb;
}
.thumbnail{
    border: none;
    box-shadow: none;
}

/* people.html 
=========================================== */
.default-media h4{
    margin-bottom: 50px;
}
.media{
    margin-bottom: 20px;
}
.media img{
    background: #252422;
}
.media-body{
    width: 100%;
}
.media-left, .media>.pull-left{
	padding-right: 30px;
}
@media only screen and (min-width: 992px){
    .media-heading{
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 667px){
    .default-media h4{
        margin-bottom: 30px;
    }
    .media-left{
        padding-right: 0;
        display: block;
    }
    .media-object{
        display: inline;
    }
    .media-body{
        display: block;
    }
    .media-heading{
        margin: 12px 0;   
    }
}
/* companies.html 
=========================================== */
#companies h5{
    margin-bottom: 10px;
}

.search-box{
    background-color: #e1e1e1;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 10px;    
}
.search-box label{ 
    white-space: nowrap;
    line-height: 32px;     
}
.search-box select{ 
    width: 100%; 
}
.search-box .select2-container--default .select2-selection--multiple{
    border-radius: 10px;
    border: none;
    padding: 3px 5px;
}
.search-box .select2-container--default .select2-selection--multiple .select2-selection__choice{
    border-radius: 10px;
}
.tags span{
    background-color: #e1e1e1;
    font-size: 0.8em;
    padding: 2px 5px;
    display: inline-block;
    margin-left: 5px; 
    border-radius: 10px;
    min-width: 80px;
    text-align: center;
}

.bs-example{
    margin: 30px 0;
}

/* vacancies.html 
=========================================== */
#vacancies a.btn-vacancies{
    background-color: #131312;
    border: #131312;
    color: #fff;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}
#vacancies a.btn-vacancies:hover{
    background-color: #242423;
}

/* about.html 
=========================================== */
.dotforge-brand{
    color: #F96630;
}
/* open.html 
=========================================== */
.open-brand{
    color: #4D9DE0;
}
#open #choose-accelerator{
    color: #4D9DE0;
}
.btn-open{
    background-color: #4D9DE0;
    border: #4D9DE0;
}
.btn-open:hover, .btn-open:visited{
    background-color: #237cc6;
    border: #237cc6;
}
.open-event{
    margin-bottom: 40px;
}
#open h3{
    margin-bottom: 50px;
}
.open-event h5 {
    display: inline;
}
.open-event h5 small{
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
.open-event p{
    margin-bottom: 0;
}
.speaker-name{
    color: #000;
}
.speaker-title{
    font-size: 16px;
}
.open-dp{
    height: 56px;
    width: 56px;
    vertical-align: top;
}
.talk-title{
    font-weight: 600;
}
.open-hr{
    border-color: #4D9DE0;
}
@media only screen and (max-width: 667px){
    .open-event{
        text-align: center;
        padding-bottom: 40px;
    }
    .open-event-date{
        padding-bottom: 30px;
    }
    .open-event h5{
        margin-bottom: 60px;
    }
    .open-dp{
        margin-bottom: 10px;
    }
    .speaker-name{
        font-size: 13px;
        padding-bottom: 10px;
    }
    .speaker-title{
        padding-bottom: 30px;
        font-size: 12px;
    }
    .talk-title{
       padding-bottom: 20px;
    }

}


